[core]
	editor = \"C:/Users/Josh.Jacobsen/AppData/Local/Programs/Microsoft VS Code/code.exe\" --wait
[merge]
	tool = vscode
	guitool = vscode
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[mergetool "vscode"]
	cmd = \"C:/Users/Josh.Jacobsen/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --wait \"$MERGED\"
	path = C:/Users/Josh.Jacobsen/AppData/Local/Programs/Microsoft VS Code/Code.exe
[diff]
	tool = vscode
	guitool = vscode
[difftool "vscode"]
	cmd = \"C:/Users/Josh.Jacobsen/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --wait --diff \"$LOCAL\" \"$REMOTE\"
	path = C:/Users/Josh.Jacobsen/AppData/Local/Programs/Microsoft VS Code/Code.exe
[user]
	name = Josh Jacobsen
	email = josh.jacobsen@myfoodbag.co.nz

 [alias]
 # logs
 l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
 lg='git log --graph --oneline --decorate --all'

 a = add
 ap = add -p
 aa = add .
 ac = !git add -A && git commit -m
 c = commit --verbose
 ca = commit -a --verbose
 cm = commit -m
 cam = commit -a -m
 m = commit --amend --verbose
 gcm = checkout master
    
 d = diff
 ds = diff --stat
 dc = diff --cached
 a = add
 ap = add -p
 aa = add .
 c = commit --verbose
 ca = commit -a --verbose
 cm = commit -m
 cam = commit -a -m
 m = commit --amend --verbose
    
 d = diff
 ds = diff --stat
 dc = diff --cached

 s = status -s
 co = checkout
 cob = checkout -b
 # list branches sorted by last modified
 b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

 # list aliases
 la = "!git config -l | grep alias | cut -c 7-"
 
 # prune all loacl branches (run from master)
 prune-local = !git branch | grep -v "master" | xargs git branch -D 

 # get latest from master and update all submodules 
 pull-and-update-submodules = "!git pull --recurse-submodules; git submodule update --remote --recursive"
